@font-face {
    font-family: 'Retro Computer';
    src: url('assets/ui/fonts/pixel-font.ttf');
}

.root {
    -fx-background-color: black;
}

.table-view {
}

.button {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.label {
    -fx-font-family: 'Retro Computer';
    -fx-font-size: 24px;
}

.text {
    -fx-fill: white;
    -fx-font-family: 'Retro Computer';
}